/*Global styles*/
body
{
    background-color:#FFFFF2;
}

/*energyUse.html styles*/
#headerTitle
{
    background-color:#1E4D2B;
    color:#EFEF95;
}

#humiditySensorTab
{
    animation-delay:0.25s;
}

#occupancySensorTab
{
    animation-delay:0.5s;
}

#ambientLightTab
{
    animation-delay:0.75s;
}

#lightControlsTab
{
    animation-delay:1s;
}

#lightSensorTab
{
    animation-delay:1.25s;
}

#electricitySensorTab
{
    animation-delay:1.5s;
}

.body-container
{
    opacity: 0;
    transition: opacity 1.5s;
}

.body-container-loaded
{
    opacity: 1;
}

.no-data-message
{
    opacity: 0;
    transition: opacity 1.5s;
    color: #007F5C;
}

.no-data-message-loaded
{
    opacity: 1;
}

.concern
{
    background-color:firebrick;
    color:white;
}

.no_concern
{
    background-color:lightgreen;
    color:white;
}
