<div class="dropdown pull-right">
    <button class="btn btn-poly dropdown-toggle" type="button" data-toggle="dropdown">Select Month
        <span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li><a ng-click="setRoute('tempHistory/january/')">January</a></li>
        <li><a ng-click="setRoute('tempHistory/february/')">February</a></li>
        <li><a ng-click="setRoute('tempHistory/march/')">March</a></li>
        <li><a ng-click="setRoute('tempHistory/april/')">April</a></li>
        <li><a ng-click="setRoute('tempHistory/may/')">May</a></li>
        <li><a ng-click="setRoute('tempHistory/august/')">August</a></li>
        <li><a ng-click="setRoute('tempHistory/september/')">September</a></li>
        <li><a ng-click="setRoute('tempHistory/october/')">October</a></li>
        <li><a ng-click="setRoute('tempHistory/november/')">November</a></li>
        <li><a ng-click="setRoute('tempHistory/december/')">December</a></li>
    </ul>
</div>

<div class="dropdown pull-right yearDropDown">
    <button class="btn btn-poly dropdown-toggle" type="button" data-toggle="dropdown">Select Year
        <span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li><a ng-click="year=2015">2015</a></li>
        <li><a ng-click="year=2014">2014</a></li>
    </ul>
</div>

<h1>Temperature Historical Data</h1>
<h2>August 2015</h2>

<div ng-if="deviceHistoricalDataIsEmpty(tempDataGraphAug.data[0])">
    <h2 style="color:red">No Data</h2>
</div>

<div ng-if="!deviceHistoricalDataIsEmpty(tempDataGraphAug.data[0])">
    <canvas id="line" class="chart chart-line" chart-data="tempDataGraphAug.data"
            chart-labels="tempDataGraphAug.labels" chart-click="tempDataGraphAug.onClick" colours="tempDataGraphAug.colours">
    </canvas>
</div>

<br/>
<br/>
<br/>
<br/>
<br/>