<div class="dropdown pull-right">
    <button class="btn btn-poly dropdown-toggle" type="button" data-toggle="dropdown">Select Month
        <span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li><a ng-click="setRoute('tempHistory/january/')">January</a></li>
        <li><a ng-click="setRoute('tempHistory/february/')">February</a></li>
    </ul>
</div>

<div class="dropdown pull-right yearDropDown">
    <button class="btn btn-poly dropdown-toggle" type="button" data-toggle="dropdown">Select Year
        <span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li><a ng-click="year=2015">2015</a></li>
        <li><a ng-click="year=2014">2014</a></li>
    </ul>
</div>

<h1>Temperature Historical Data</h1>
<h2>February 2015</h2>

<canvas id="line" class="chart chart-line" chart-data="tempDataGraphJan.data"
        chart-labels="tempDataGraphJan.labels" chart-click="tempDataGraphJan.onClick" colours="tempDataGraphJan.colours">
</canvas>

<br/>
<br/>
<br/>
<br/>
<br/>