<div class="dropdown pull-right yearDropDown">
    <button class="btn btn-poly dropdown-toggle" type="button" data-toggle="dropdown">Week 1
        <span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li><a ng-click="">Week 1</a></li>
        <li><a ng-click="">Week 2</a></li>
        <li><a ng-click="">Week 3</a></li>
        <li><a ng-click="">Week 4</a></li>
    </ul>
</div>

<div class="dropdown pull-right monthDropDown">
    <button class="btn btn-poly dropdown-toggle" type="button" data-toggle="dropdown">{{monthButtonText}}
        <span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li><a ng-click="updateMonthButtonText('January'); setRoute('tempHistory/index/'); obtainHistoricalData('temperature', 'bedroom', 86000, month, year);">January</a></li>
        <li><a ng-click="updateMonthButtonText('February'); setRoute('tempHistory/index/'); obtainHistoricalData('temperature', 'bedroom', 86000, month, year);">February</a></li>
        <li><a ng-click="updateMonthButtonText('March'); setRoute('tempHistory/index/'); obtainHistoricalData('temperature', 'bedroom', 86000, month, year);">March</a></li>
        <li><a ng-click="updateMonthButtonText('April'); setRoute('tempHistory/index/'); obtainHistoricalData('temperature', 'bedroom', 86000, month, year);">April</a></li>
        <li><a ng-click="updateMonthButtonText('May'); setRoute('tempHistory/index/'); obtainHistoricalData('temperature', 'bedroom', 86000, month, year);">May</a></li>
        <li><a ng-click="updateMonthButtonText('June'); setRoute('tempHistory/index/'); obtainHistoricalData('temperature', 'bedroom', 86000, month, year);">June</a></li>
        <li><a ng-click="updateMonthButtonText('July'); setRoute('tempHistory/index/'); obtainHistoricalData('temperature', 'bedroom', 86000, month, year);">July</a></li>
        <li><a ng-click="updateMonthButtonText('August'); setRoute('tempHistory/index/'); obtainHistoricalData('temperature', 'bedroom', 86000, month, year);">August</a></li>
        <li><a ng-click="updateMonthButtonText('September'); setRoute('tempHistory/index/'); obtainHistoricalData('temperature', 'bedroom', 86000, month, year);">September</a></li>
        <li><a ng-click="updateMonthButtonText('October'); setRoute('tempHistory/index/'); obtainHistoricalData('temperature', 'bedroom', 86000, month, year);">October</a></li>
        <li><a ng-click="updateMonthButtonText('November'); setRoute('tempHistory/index/'); obtainHistoricalData('temperature', 'bedroom', 86000, month, year);">November</a></li>
        <li><a ng-click="updateMonthButtonText('December'); setRoute('tempHistory/index/'); obtainHistoricalData('temperature', 'bedroom', 86000, month, year);">December</a></li>
    </ul>
</div>

<div class="dropdown pull-right yearDropDown">
    <button class="btn btn-poly dropdown-toggle" type="button" data-toggle="dropdown">{{yearButtonText}}
        <span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li><a ng-click="year=2015; updateYearButtonText('2015'); setRoute('tempHistory/index/'); obtainHistoricalData('temperature', 'bedroom', 86000, month, year);">2015</a></li>
        <li><a ng-click="year=2014; updateYearButtonText('2014'); setRoute('tempHistory/index/'); obtainHistoricalData('temperature', 'bedroom', 86000, month, year);">2014</a></li>
    </ul>
</div>


<h1>Temperature Historical Data</h1>
<h2>{{month}} {{yearButtonText}}</h2>

<div ng-if="deviceHistoricalDataIsEmpty(displayData.data[0])">
    <h2 style="color:red">No Data</h2>
</div>

<div ng-if="!deviceHistoricalDataIsEmpty(displayData.data[0])">
    <canvas id="line" class="chart chart-line" chart-data="displayData.data"
            chart-labels="displayData.labels" chart-click="displayData.onClick" colours="displayData.colours">
    </canvas>
</div>

<br/>
<br/>
<br/>
<br/>
<br/>