<div class="pull-right paddingRight">
    <button ng-click="setRoute('elecHistory'); obtainHistoricalData('electric_power', deviceElec, timeInterval, endTime + 86400, endTime + 604800 + 86400);" class="btn btn-poly dropdown-toggle pull-right" type="button">Next Week</button>
</div>
<div class="paddingRight pull-right">
    <button ng-click="setRoute('elecHistory'); obtainHistoricalData('electric_power', deviceElec, timeInterval, startTime - 604800 - 86400, endTime - 604800 - 86400);" class="btn btn-poly dropdown-toggle" type="button">Previous Week</button>
</div>

<h1>{{sensorButtonText}} Historical Data</h1>
<h2>{{displayDeviceElec}}</h2>
<h3>{{monthButtonTextPrevious}} {{monthPreviousDay}} - {{monthButtonTextCurrent}} {{monthCurrentDay}}</h3>

<div ng-if="deviceHistoricalDataIsEmpty(displayData.data[0])">
    <h2 style="color:red">No Data</h2>
</div>

<div ng-if="!deviceHistoricalDataIsEmpty(displayData.data[0])">
    <canvas id="line" class="chart chart-bar bar-graph" chart-data="displayData.data"
            chart-labels="displayData.labels" chart-click="displayData.onClick" colours="displayData.colours">
    </canvas>

    <div class="jumbotron col-md-6 col-md-offset-3 col-md-offset-3 text-center">
        <h4>Chart Legend</h4>
        <strong>Y-Axis:</strong> <em>Cumulative Watt Seconds.</em><br/>
        <strong>X-Axis:</strong> <em>Days split into intervals of 6.</em>
    </div>
</div>


<br/>
<br/>
<br/>
<br/>
<br/>