@font-face {
    font-family: Avenir Book;
    src: url(../fonts/AvenirLTStd-Medium.otf);
}

body
{
    margin: 0;
    background-color:rgb(227,232,235);
    font-family: Avenir Book;
}

.navbar-inverse {
    background-color: rgb(0,78,56);
    border-color: rgb(0,78,56);
    height:80px;
    border-radius:0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    color: rgb(251,176,64);
}

.navbar-inverse .navbar-brand
{
    color: rgb(251,176,64);
    font-size: 3em;
    line-height: 1em;

}

#welcomeMenuItem
{
    color: rgb(251,176,64);
}

.productionSubSection
{
    padding-left:30px;
}

.productionSubSection h3
{
    color: rgb(251,176,64);
}

.productionSection h2
{
    color: rgb(251,176,64);
}

.productionSection p
{
    font-size:16px;
    font-weight:bold;
}

.tempAndHumSection h2
{
    color: rgb(251,176,64);
}

.tempAndHumSection p
{
    font-size:16px;
    font-weight:bold;
}

.tempAndHumSubSection
{
    padding-left:30px;
}

.tempAndHumSubSection h3
{
    color: rgb(251,176,64);
}

#tempAndHumHeader h3, #tempAndHumHeader h2
{
    color: rgb(251,176,64);
    display:inline;
}

#tempAndHumHeader h2
{
    padding-right:25px;
}

.tempSettings
{
    padding-right:25px;
}

.subMenu li
{
    display:inline;
}

.subMenu li a
{
    display:inline;
    border: 3px solid rgb(170, 175, 175);
    padding: 3px 15px;
    font-size:20px;
    color: rgb(251,176,64);
}

a:link
{
    text-decoration: none;
}

a:visited
{
    text-decoration: none;
}

a:hover
{
    text-decoration: none;
    background-color: rgb(86, 137, 53);
}

a:active
{
    text-decoration: underline;
}

#energyInsightSubsection, #waterInsightSubsection
{
    padding-left:30px;
}

#energyInsightSubsection p, #waterInsightSubsection p
{
    font-size:16px;
    font-weight:bold;
}

.homepageDataTable
{
    margin-top:28px;
}

.homepageDataTable th, td
{
    border: 3px solid rgb(170, 175, 175);
    padding:2px 37px;
    font-size:20px;
    font-weight:bold;
    text-align:center;
}

.homepageDataTable td
{
    color: rgb(251,176,64);
}

#humidityDataTable
{
    margin-top:17px;
}

#energyUseDataTable
{
    margin-top:17px;
}

#energyProductionTable
{
    margin-top:5px;
}

.insights, #temperatureSection, #humiditySection, #energyUseSection, #energyProductionSection
{
    margin-left:auto;
    margin-right:auto;
}

.insights .well
{
    border: 3px solid rgb(170, 175, 175);
}

span
{
    display:inline;
}

.tableHeader
{
    color: rgb(251,176,64);
    font-weight:bold;
    font-size:20px;
}

.homepageDataTable .concern
{
    color:firebrick;
}

.no_concern
{
}
